@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
    position: sticky;
    top: 0;
    z-index: 3;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-div {
    width: 100%;
    max-width: 1600px;
}

.header {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}

.icon {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;

    h1 {
        min-width: 294px;
    }
}

.logo img {
    margin-top: 5px;
    width: 90px;
    padding: 10px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 1rem;

    li {
        min-width: 100px;
    }
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

.search-bar {
    margin-left: 15px;
    display: flex;
    flex-grow: 1;
}

.search-bar input {
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #ff6600;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    img{
        width: 30px;
    }
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.cart img {
    width: 40px;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    p {
        margin: 10px;
    }
}

.social-links a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.menu {
    display: flex;
    cursor: pointer;
    img {
        width: 45px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-body {
    position: relative;
    height: 95%;
    width: 100%;
    max-width: 900px;
    border-radius: 15px;
    margin: 20px;
    background-color: #f5f5f5;
    overflow: hidden;
    ul{ 
        padding: 30px 0 0;
        list-style: none;
        li{
            margin-bottom: 15px;
            transition: background-color .2s;
        }
        li:active, li:hover{
            background-color: #f1f1f1;         
            
        }
        a{
            display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            color: black;
            font-size: 30px;
            width: 100%;
            padding: 15px 15px 15px 30px;
            transition: all .2s;
        }
        a:hover{
            color: rgb(0, 124, 83);   
        }
    }
}

.cart-number{
    display: none;
    width: 17px;
    height: 17px;
    position: absolute;
    background-color: #ff6600;
    border-radius: 50%;
    top: 3px;
    right: -2px;
}

.show-cart-number{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-items{
    max-height: 72%;
    overflow: auto;
}

.empty-cart-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 95px auto;
    width: 275px;
    .empty-cart-image{
        width: 100%;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    span{
        font-size: 20px;
        font-weight: 600;
    }
}



.cart-items::-webkit-scrollbar{
    width: 7px;
}

.cart-items::-webkit-scrollbar-thumb{
    background-color: rgb(196, 196, 196);
}

.cart-buy-products{
    height: 20%;
    background-color: #ff66001d;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #ff6600;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        font-size: 20px;
        font-weight: 600;
        button{
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.cart-item{
    min-height: 200px;
    background-color: white;
    margin: 15px 15px 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.cart-body{
    display: flex;
    width: 90%;
}

.cart-menu{
    position: absolute;
    top: 7px;
    right: 7px;
    img{
        height: 30px;
        cursor: pointer;
    }
}

.item-image{
    min-width: 150px;
    width: 150px;
    img{
        width: 100%;
    }
    
}

.item-info{
    margin: 30px 20px 0 20px;
    width: 80%;
    font-weight: 500    ;
}

.amount{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 150px;
    button{
        background-color: white;
        cursor: pointer;
        border: none;
        z-index: 3;
    }
    
    .button-minus{
        margin-right: 10px;
        padding: 6.5px;
    }
    .minus{
        width: 17px;
    }
    .button-plus{
        margin: 0 15px 0 5px;
        padding: 0;
    }
    .plus{
        width: 30px;
    }
    input{
        height: 50px;
        width: 70px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.44);
        text-align: center;
        font-size: 30px;
    }
}

.cart-price{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 300px;
    align-self: flex-end;
}

.price{
    font-size: 30px;
    display: flex;
    align-items: center;
}

.cart-close {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.127);
    padding: 15px;
    height: 8%;
    .cart-name {
        font-size: 25px;
        font-weight: bolder;
    }
}

.close-image {
    width: 25px;
    cursor: pointer;

}

.menu-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.disable-scroll {
    overflow: hidden;
}

.featured-products{
    padding: 20px;
    text-align: center;
}

.category-grid, .product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.category,.sort{
    text-align: center;
    padding: 20px;
}

.sort-by{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .btn{
        margin-top: 20px;
    }
}

.sort-container{
    display: flex;
    justify-content: center;
    div{
        padding: 0 10px;
        height: 100%;
        width: fit-content;
        span{
            display: block;
        }
        .main-span{
            display: flex;
        }
        input{
            border: 1px solid rgba(0, 0, 0, 0.264);
            height: 30px;
            width: 100px;
            margin: 5px;
            font-weight: 600;
        }
        input:active, input:focus{
            outline: 0;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    
    .by-price{
        border-right: 1px solid rgba(0, 0, 0, 0.215);
    }   
}

.product{
    background-color: white;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.product{
    display: flex;
    flex-direction: column;
    .product-image{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-info{
        text-transform: capitalize;
        text-align: center;
    }
    img{
        max-height: 250px;
        max-width: 100%;
    }
    p{
        font-weight: bolder;
    }
}

.btn {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: max-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
}

@media all and (max-width: 920px) {
    header nav {
        display: none;
    }

    .product-grid,.category-grid{
        grid-template-columns: repeat(2, minmax(130px, 1fr));
    }
}

@media all and (max-width: 769px){
    .cart-price{
        justify-content: space-between;
        width: inherit;
        align-self: normal;
    }
    .icon h1 {
        display: none;
    }
    .modal-body{
        margin: 0;
        height: 100%;
        border-radius: 0;
    }
    .cart-buy-products{
        border-radius: 0;
    }
    .sort-by{
        height: auto;
        align-items: center;
    }
    .sort-container{
        flex-direction: column;
        h3{
            margin: 0;
        }
        div{
            padding: 10px;
        }
        .by-price{
            border-right: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.215);
        }
    }
}

@media all and (max-width: 530px) {
    .search-bar {
        input {
            width: 50px;
            flex-grow: 7;
        }

        button {
            width: 30px;
            flex-grow: 1;
            padding: 5px 0;
        }
    }
    header{
        padding: 0 10px;
    }
}

@media all and (max-width: 400px){
    .sort-container{
        .main-span{
            flex-direction: column;
        }
    }
    .featured-products{
        padding: 10px;
    }
    .product{
        padding: 0;
    }
    .cart-price{
        margin: 20px 5px;
    }
    .price{
        overflow: auto;
    }
}